<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify your e-mail address</title>
  </head>
  <body>
    <div style="text-align: center">
      <img src="http://localhost:8000/LEXICON.png" alt="Lexicon Logo" />
      <h1>Welcome to LEXICON!</h1>
      <p>Thank you for signing up in LEXICON. We will use this e-mail address to create your account here at LEXICON.</p>
      <p>Are you ready to start reading your fav books? Great!</p>
      <p>Click the button below to verify your e-mail address:</p>
      <a href="{{signUpTemplate}}?email={{email}}&token={{token}}" style="display: inline-block; padding: 12px 12px; background-color: royalblue; color: white; border-radius: 5px">Click here</a>
      <p>If you didn't sign up in our website, please just ignore this e-mail.</p>
    </div>
  </body>
</html>

